<!DOCTYPE html>
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{ app.request.locale|split('_')[0] }}" class="no-js"> <!--<![endif]-->
<head>
    <title>{% block title %}Bender Bot{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/justified-nav.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav>
            <ul class="nav nav-justified">
                <li class="active"><a href="{{ path('bender_default_index') }}">Home</a></li>
                <li><a href="{{ path('bender_default_install') }}">Install</a></li>
                <li><a href="{{ path('bender_default_privacy') }}">Privacy</a></li>
                <li><a href="{{ path('bender_default_support') }}">Support</a></li>
            </ul>
        </nav>
    </div>


    {% block content %}
    {% endblock %}

    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div>
</body>